[user]
	name = Will Johnston
	email = will-github@wwj.dev
[init]
	defaultBranch = main
[credential]
  helper = store
[core]
  excludesfile = ~/.gitignore_global
  autocrlf = input
[color]
    ui = auto
[push]
	autoSetupRemote = true
